@import "./base/base";
@import "./layouts/header";
@import "./layouts/footer";
@import "./components/buttons";
@import "./components/hover";
@import "./utils/variables";
@import "./utils/mixins";

/* INDEX */

/* BANNIERE */

.banniere {
    height: 450px;
    width: 100%;

    &__background {
        width: 100%;
        height: 100%;
        margin: 0 auto;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        text-align: center;
        align-items: center;
    }

    &__elements img {
        height: 130px;
        width: 130px;
        filter: drop-shadow(0 0 1.5rem rgba(255, 255, 255, 0.6))
    }
}


h1 {
    font-size: 2.8em;
    font-weight: 400;
    color: white;
    text-shadow: 0px 0px 10px black;
}

/* SERVICES */

.services {
    width: 100%;
    height: 700px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    text-align: center;

    h2 {
        min-width: 35%;
        width: 658px;
        line-height: 32px;
        font-size: 1.4em;
        font-weight: 400;
    }
    
    &__bloc {
        padding: 0 20px;
        display: flex;
        flex-wrap: wrap;
        width: 100%;
        max-width: 1280px;
        height: 280px;
        justify-content: space-evenly;
    }

    &__element {
        background-color: $background-color;
        height: 280px;
        width: 33%;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        border-radius: 5px;
        box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.1);
    }

    &__element:nth-child(2) {
        transform: scale(1.05);
    }
    
    
    &__element h3 {
        margin-top: 20px;
        font-size: 1.15em;
        font-weight: 600;
    }
    
    &__element p {
        margin: 20px auto 0 auto;
        font-size: 0.9em;
        max-width: 350px;
        line-height: 25px;
    }
    
    &__element figure {
        width: 477px;
        margin: 0 auto;
    }
    
    blockquote {
        width: 477px;
        padding: 10px 20px;
        margin: 0 0 10px 0;
        line-height: 28px;
        border-left: 5px solid #d3d3d3
    }
}

/* PRESENTATION */

.presentation-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 650px;
    width: 100%;
    
    &__bloc {
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;
        text-align: center;
        overflow: hidden;
        padding: 0 20px;
        background-color: rgba(0, 0, 0, 0.6);
        height: 400px;
        width: 846px;
    }

    &__bloc h2 {
        display: block;
        width: 95%;
        font-size: 1.3em;
        color: $primary-color;
        text-shadow: 0 0 15px rgba(0, 0, 0, 0.8);
    }
    
    &__bloc p {
        display: block;
        color: $background-color;
        font-size: 0.9em;
        line-height: 25px;
        width: 90%;
        word-spacing: 0.1em;
        margin: 0 auto;
        overflow-wrap: break-word;
    }
    &__bloc .button {
        font-size: 1em;
    }
}

/* PORTFOLIO */

.portfolio {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 100%;
    background-color: $background-color;
    padding: 80px 0px;
    
    &__bloc {
        margin-top: 50px;
        width: 100%;
        height: auto;
    }
    
    &__elements {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-evenly;
        width: 100%;
        height: auto;
    }
    
    &__project {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding-bottom: 20px;
        width: 24%;
        min-width: 350px;
        height: auto;
        margin-bottom: 35px;

        img {
            width: 350px;
            height: 350px;
            margin-bottom: 25px;
        }
        
        h3 {
            font-size: 1.1em;
            padding: 0 5px 25px 5px;
            min-width: 300px;
        }
        
        p {
            padding: 0 25px;
            line-height: 23px;
        }
    }
}

/* CONTACT */

.contact {
    height: 400px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    justify-content: space-evenly;
}

.contact h2 {
    line-height: 55px;
    font-size: 2em;
    color: white;
    text-shadow: 0px 0px 15px black;
}


/* ---- IMAGE BG ---- */

.banniere__background {
    background-image: url("/img/banniere1.jpg");
    background-position: top center;
    background-repeat: no-repeat;
}

.presentation__background {
    background-image: url("/img/banniere2.jpg");
    background-position: center center;
    background-repeat: no-repeat;
}

.b-parallax {
    background-attachment: fixed;
}

/* CONTACT */

.contact-banniere {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    text-align: center;
    width: 100%;
    height: 300px;
    background-color: $primary-color;

    h1 {
       color: black;
       text-shadow: none;
       font-weight: 600;
    }
    
    p {
       font-size: 1.2em;
       line-height: 30px;
    }
}


.chevron i {
    font-size: 40px;
}

/*---- Formulaire ----*/

.formulaire {
    padding: 50px 0;
    width: 100%;
    height: auto;
    
    &__elements {
        margin: 0 auto;
        width: 50%;
        min-width: 350px;
    }
    
    form .form-group label {
        font-size: 1.1em;
        margin-top: 10px;
    }
}

#message {
    height: 100px;
}


.informations {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 1em;
    font-weight: 600;
    height: 150px;
    width: 400px;
    margin: 0 auto;
    margin-top: 50px;
}

.informations p {
    margin-bottom: 10px;
}

@media screen and (max-width: 775px) {
    
    .header-container {
        flex-direction: column;
        padding: 0;
    }

    img.header-container__logo {
        height: 50px;
    }

    nav {
        height: 35px;
        justify-content: space-evenly;
        width: 100%;
    }

    nav a {
        text-align: center;
        justify-content: center;
        width: 50%;
        height: 35px;
        margin: 0;
    }


    .services {
        height: 1290px;
    }

    .services .services__bloc {
        height: 870px;
    }

    .services__element {
        width: 80%;
        min-width: 365px;
    }

    .reseaux {
        width: 100%;
    }


    .leformulaire {
        width: 85%;
    }

    .services h2 {
        width: 85%;
    }

    .services blockquote  {
        width: 99%;
    }

    .presentation-container__bloc {
        height: 100%;
    }
    .contact-banniere {
        height: 320px;
    }

    .informations {
        width: 95%;
    }
}

